img{
  width: 100%;
  height: auto;
}
.navbar{
  margin-bottom: 400px;
}
body {
    padding-top: 50px;
}
a.adminlink, a.adminlink :visited{
    color: black;
    text-decoration: none;
}
a.adminlink:hover{
    color: lime !important;
}
#teamLogo{
  max-width: 40px;
  margin-top: -4px;
  display: inline;
}
#teamName{
  padding-left: 10px;
}
.navbar-inverse .navbar-brand{
  margin-top: -5px;
}
footer{
  padding-top: 40px;
  text-align: center;
  background: black;
  height: 100px;
  color: white;
}
hr{
  border-top: 1px solid lightgrey
}
#shutdown{
  text-align: center;
}
#weather_row{
  background: white;
  margin-bottom: 20px;
}
#weather_row .list-group-item span{
  float: right;
}
#telescope_row{
  background: lightsteelblue;
}
#telescope-status .badge{

  background-color: #474e59;
}
#widget_row{
  background: white;
  margin-bottom: 20px;
}
li{
  font-size: 1.15em;
}
tr{
  font-size: 1.15em;
}
td{
  font-size: 1.15em;
}
#admin_login_form{
  margin-top: 30px;
  background: lightgrey;
  padding: 50px;
  border-radius: 10px;
}
#admin_form_submit_button{
  margin: 0 auto;
  float: none;
  border-radius: 5px;
  padding: 4px;
  min-width: 100px;
  margin-left: 130px;
}
.form-input{
  border-radius: 4px;
  padding: 5px;
  margin: 10px;
}
#shutdown_button_form{
  margin-top: 100px;
  max-width: 100%;
  padding: 100px;
  margin: 0 auto;
  float: none;
}
#reset_shutdown_button{
  display: none;
}
#target-list-admin{
  text-align: center;
}
#target-list-admin th{
  text-align: center;
}
.delete_button{
  float: right;
}
#logcontainer {
  height: 400px;
  overflow: scroll;
}


#logtablebody .logrow{

   background-color:#dee3ea;

}
