<!DOCTYPE html>
<html lang="en">
{% csrf_token %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Monitor Template 1.0</title>
    {% csrf_token %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'monitor/css/custom.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'monitor/css/bootstrap.min.css' %}" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href=".."><img id="teamLogo" src="{% static 'monitor/images/skywardLogo.png' %}"/><span id="teamName">FRoST Monitor Dashboard</span></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="..">Home</a></li>
            <li class="active"><a href="../admin/">Admin</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row" id="shutdown">
        <div class="col-md-12">
          <h1>Emergency Telescope Shutdown</h1>
        <div id="shutdown_button_form">
          <input id="shutdown_button" type="button" class="btn btn-danger btn-lg" onclick="alertAdmin()" value="Shutdown"/>
          <input id="reset_shutdown_button" type="button" class="btn btn-primary btn-lg" onclick="resetAdmin()" value="Reset"/>
        </div>
        </div>
      </div>
      <hr>
      <div class="row">
          <div class="col-sm-12">
            <div id="target-list-admin">
              <h2>Telescope Target List Editor</h2>
              <style type="text/css">
                  /* show the move cursor as the user moves the mouse over the panel header.*/
                  #draggablePanelList {
                      cursor: move;
                  }
              </style>
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th>Object Name</th>
                          <th>Object RA</th>
                          <th>Object DEC</th>
                          <th>Status</th>
                          <th>Scheduled</th>
                      </tr>
                  </thead>
                  <tbody id="PanelList" class="list-unstyled">
                  </tbody>
              </table>
              <input id="submit_new_list" type="button" class="btn btn-primary btn-lg" onclick="" value="Submit"/>
              <input id="refresh_list" type="button" class="btn btn-primary btn-lg" onclick="" value="Refresh"/>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
          <footer>
              <div class="col-xs-12 col-sm-12 col-md-12">
                  <p>
                      Copyright 2017 - Northern Arizona University Department of Physics and Astronomy
                  </p>
              </div>
          </footer>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'monitor/js/jquery-ui.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'monitor/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'monitor/js/monitoradmin.js' %}"></script>

  </body>
</html>
