<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Monitor Template 1.0</title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'monitor/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'monitor/css/custom.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'monitor/js/jquery.ajax.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'monitor/js/jquery-ui.min.js' %}"></script>

    <script src="{% static 'monitor/js/Chart.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'monitor/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="#"><img id="teamLogo" src="{% static 'monitor/images/skywardLogo.png' %}" /><span id="teamName">FRoST Monitor Dashboard</span></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container-fluid">

        <div id="weather_row" class="row">


            <div class="col-sm-3">
                <h3>Current Weather Status</h3>
                <ul class="list-group">
                    <li class="list-group-item" id="curTemp">Temperature: <span id="current_temp" ></span></li>
                    <li class="list-group-item" id="curHum">Humidity: <span id="current_humidity"></span></li>
                    <li class="list-group-item" id="dewPnt">Dewpoint: <span id="current_dewpoint"></span></li>
                    <li class="list-group-item" id="winSpd">Wind Speed: <span id="wind_speed"></span></li>
                    <li class="list-group-item" id="winDir">Wind Direction: <span id="wind_direction"></span></li>
                    <li class="list-group-item" id="curTime">Time: <span id="time_created"></span></li>
                </ul>
            </div>

            <div class="col-sm-5">
                <h3>Temperature Plot</h3>
                <canvas id="tempChart" width="750" height="200"></canvas>
                <canvas id="dewChart" width="750" height="200"></canvas>
                <canvas id="humChart" width="750" height="200"></canvas>
            </div>

            <div class="col-sm-4">
                <h3>Wind Speed &amp; Direction</h3>
                <canvas id="windChart" width="200" height="150"></canvas>
            </div>

        </div>

        <div id="telescope_row" class="row">

            <div class="col-sm-3">
                <h3>Telescope Status</h3>
                    <ul class="list-group" id="telescope-status">
                        <li class="list-group-item">Pointing Position: <div style="float:right;backgroundColor:inherit;" id="dome_az"></div></li>
                        <li class="list-group-item">RA: <div style="float:right;" id="tel_ra"></div></li>
                        <li class="list-group-item">DEC: <div style="float:right;" id="tel_dec"></div></li>
                        <li class="list-group-item">AZ: <div style="float:right;" id="tel_az"></div></li>
                        <li class="list-group-item">Alt: <div  style="float:right;" id="tel_alt"></div></li>
                        <li class="list-group-item">Last Issued Command: <div style="float:right;" id="last_issued_command"></div></li>
                        <li class="list-group-item">Status: <div style="float:right;" id="tel_status"></div></li>
                        <li class="list-group-item">Timestamp: <div id="timestamp"></div></li>
                    </ul>
            </div>

            <div style="width: auto;" class="col-sm-5">
                <h3>Telescope Target List</h3>
                <div style="overflow-y: scroll; max-height: 375px;">
                    <table class="table table-striped table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>RA</th>
                                <th>DEC</th>
                                <th>Status</th>
                                <th>Scheduled</th>
                            </tr>
                        </thead>
                        <tbody id="PanelList" class="list-unstyled">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
        </div>

        <div id="widget_row" class="row">
            <div class="col-sm-4">
                <h3>Telescope Images</h3>
                <img src="{% static 'monitor/images/anamination.gif' %}" style="width: 100%; text-align: center;" />
            </div>
            <div class="col-sm-4">
                <h3>All-Sky Image</h3>
                <img src="{% static 'monitor/images/allskyTestImage.jpg' %}" style="width: 100%; text-align: center;" />
            </div>
            <div class="col-sm-4">
                <h3>Clear-Sky Chart</h3>
                <a href=http://www.cleardarksky.com/c/FlagstaffAZkey.html>
                    <img src="http://www.cleardarksky.com/c/FlagstaffAZcsk.gif?c=208858">
                </a>
            </div>
        </div>
        <div class="row" id="logrow" style="margin-left:10%;margin-right:10%;">
          <div class="panel panel-default">
            <div class="panel-heading">LOG</div>
            <div class="container-fluid" id="logcontainer">
              <table class="table" id="logtable">
                <thead>
                  <tr>
                    <th><i class="fa fa-clock-o" aria-hidden="true"></i></th>
                    <th>Priority</th>
                    <th>Message</th>
                  </tr>
                </thead>
                <tbody id="logtablebody">
                  <tr class="logrow" id="ltplaceholder">
                    <th id="timestamp" scope="row">TIME</th>
                    <td id="logname">DEBUG</td>
                    <td id="message">MESSAGE</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class='row' style="margin-left:10%;margin-right:10%;">
         <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" id="all">All</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" id="debug">Debug</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" id="info">Info</button>
          </div>
           <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" id="critical">Critical</button>
          </div>
        </div>
        </div>

        <div class="row">
            <footer>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <p>
                        Copyright 2016 - Northern Arizona University Department of Physics and Astronomy
                        <a class="adminlink" href='admin'>Admin</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'monitor/js/bootstrap.min.js' %}"></script>

    <script>
        var base_url = 'frost';
        if(location.hostname == 'localhost') base_url = '';

        var direction_labels = ["N", 'NNE', 'NE', "NEE", "E", "SEE", "SE", "SSE", "S", "SSW", "SW", "SWW", "W", "NWW", "NW", "NNW"];

        // used for translating from degrees to the direction labels above
        function deg_to_index(d) {
            d = d % 360; // if the data is always 0 <= d < 360 then we probably don't need this line
            if (d < 0) d += 360; // or this line
            d /= (360 / 16);
            d = Math.floor(d + 0.5);
            return d;
        };

        var TempData = [];
        var HumidData = [];
        var WSpeedData = [];
        var WDirData = [];
        var DewData = [];
        var date = [];

        var dateLabels = [];
        var thresholdpoints = []; // this is ridiculous that there is no other way to draw a dashed line across the chart

        // holds the processed info for the chart itself
        var WindChartData = [];
    </script>


    <script src="{% static 'monitor/js/windchart.js' %}"></script>

    <script src="{% static 'monitor/js/telescope.js' %}"></script>
    <script src="{% static 'monitor/js/logs.js' %}"></script>

    <!-- moved to its own js file -->
    <script src="{% static 'monitor/js/weatherchart.js' %}"></script>
    <script src="{% static 'monitor/js/ajax_update.js' %}"></script>
</body>

</html>
