<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Monitor Template 1.0</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'monitor/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'monitor/css/custom.css' %}" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href=".."><img id="teamLogo" src="{% static 'monitor/images/skywardLogo.png' %}"/><span id="teamName">FRoST Monitor Dashboard</span></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="..">Home</a></li>
            <li class="active"><a href="../admin">Login</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
      <div class="row" id="shutdown">
        <div class="col-md-12">
          <h1>Frost Monitor Admin Login</h1>
          <div id="admin_login_form">
          <form action='../admin/' method='POST'> {% csrf_token %}
              <div >
                  <label class="form-label" for='username'> Username: </label>
                  <input class="form-input" type='text' name='username' id='username'>
                  <br />
                  <label class="form-label" for='password'>Password: </label>
                  <input class="form-input" type='password' name='password' id='password'>
                  <br />
                  <br />
                  <input id="admin_form_submit_button" class="btn-primary" type='submit' value='Login'>
              </div>
          </form>
        </div>
        </div>
      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'monitor/js/bootstrap.min.js' %}"></script>
  </body>
</html>
